{% extends "base.html" %}
{% block javascript %}
var speakerbalance = {{speakonomy.get_speakerbuck_balance()}};
$(document).ready(function() {
  var $grid = $('#sounds');

  $grid.on('done.shuffle', function() {
      $(".list-group-item").css("width", "100%");
    });
  change_sort('score');

  $('#filter_box').on('keyup change', function() {
  var val = this.value.toLowerCase();
  $grid.shuffle('shuffle', function($el, shuffle) {
    if ($el.hasClass('sticky')) {
      return true;
    }
    var text = $.trim( $el.text() ).toLowerCase();
    return text.indexOf(val) !== -1;
  });
});
});
function capitaliseFirstLetter(string)
{
    return string.charAt(0).toUpperCase() + string.slice(1);
}
function change_sort(type) {
  var reverse = false;
  if (type.charAt(0) == '-') {
    reverse = true;
    type = type.substring(1);
  }
  $('a#sort_by').text(capitaliseFirstLetter(type));
  $('#sort_by').popover('hide');
  $('#sounds').shuffle('sort', {
      reverse: reverse,
      by: function($el) {
        return $el.data(type);
      }
    });

}
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
function evaluateAffordability(i, sound) {
  if (speakerbalance < $(sound).data('cost')) {
    $(sound).addClass("disabled");
  } else {
    $(sound).removeClass("disabled");
  }
}
function balanceBudget(data) {
  speakerbalance = data.speakerbuck_balance;
  $('#speakerbuck_balance').html(numberWithCommas(speakerbalance));
  $('.sound[data-name="'+data.played_sound+'"] .cost-value').html(numberWithCommas(data.played_sound_cost));
  $('.sound[data-name="'+data.played_sound+'"]').data('cost', data.played_sound_cost);
  $('.sound').each(evaluateAffordability);
}
function play_sound(sound_name) {
  jQuery.get('/play_sound/'+sound_name, balanceBudget)
}
function downvote(name) {
  $('#downvote-sound').val(name);
  $('#downvote-form').submit();
}
function filter(element) {
        var value = $(element).val();

        $('#sounds > .sound:not(:contains(' + value + '))').hide(); 
        $('#sounds > .sound:contains(' + value + ')').show();
        change_sort('plays');
    }

$('#sort_by').popover();
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-sm-3">
          <div style="height:20px; font-size: 10px;">Last sound: {{ speakonomy.get_last_withdrawal_time().strftime('%A @ %H:%M %p') }} (+{{ speakerbucks_per_minute }})<div class="pull-right">Sort: <a id="sort_by" href="#" type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content='<a href="#" onclick=change_sort("cost")>Cost</a><br>
            <a href="#" onclick=change_sort("-date")>Date</a><br>
            <a href="#" onclick=change_sort("name")>Name</a><br>
          <a href="#" onclick=change_sort("plays")>Plays</a><br>
          <a href="#" onclick=change_sort("score")>Score</a>'>Score</a></div></div>
          <div class="list-group" id="sounds">
            <div class="list-group-item sticky" data-date="3333-33-33">
              <input class="filter-box" type="text" id="filter_box" placeholder="Filter...">
            </div>
          	{% for sound_name, sound in sounds.iteritems() %}
            <a class="list-group-item sound{% if sound.cost > current_speakerbuck_balance %} disabled{% endif %}" href="javascript:play_sound('{{sound.name}}')" data-date="{{ sound.date_added }}" data-cost="{{ sound.cost }}" data-name="{{ sound.name }}" data-score="{{ -1*sound.get_score() }}">
                <div class="downvote-button" onclick="downvote('{{ sound.name }}'); return false;"><span class="glyphicon glyphicon-thumbs-down"></span></div>
              {{ sound.name }}{% if sound.was_recently_added() %}<img src='{{config.get("image_url_root","")}}/static/img/new2.gif'>{% endif %}
              <span class="badge alert-default" title="{{ sound.votes }} plays, {{ sound.downvotes }} downvotes">{{ sound.get_score()}}</span>
              <p class="pull-right sound-cost">{% if speakonomy.is_active() %}<span class="cost-value">{{ "{:,}".format(sound.cost) }}</span> <span class="glyphicon glyphicon-bullhorn"></span>{% else %}FREE{% endif %} </p>
            </a>
            {% endfor %}
            <form action="/downvote-sound" id="downvote-form" method="post"><input type="hidden" id="downvote-sound" name="downvote_sound" value=""></form>
          </div>
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-9">
          {% if message %}<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{ message }}</div>{% endif %}
        	<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{random_title}}</h3>
            </div>
            <div class="panel-body text-center">
              <img src='{{config.get("image_url_root","")}}/static/r_gifs/{{ image }}' class="random-image"/>

              <h1><span class="label label-default">{{ votes }}</span></h1>

              <div class="btn-group random-image-toolbar">
                <a href="/image/{{ image }}/upboat" class="btn btn-default glyphicon glyphicon-thumbs-up"></a>
                <a href="/image/{{ image }}/nsfw" class="btn btn-default glyphicon glyphicon-remove {%if nsfw %}active{%endif%}">nsfw</a>
                <a href="/" class="btn btn-default glyphicon glyphicon-refresh">new</a>
                <a href="/image/{{ image }}/downgoat" class="btn btn-default glyphicon glyphicon-thumbs-down"></a>
              </div>

              <form action="/comment/{{ image }}" method="post" class="comment-form">
                  <div class="input-group">
                    <input type="text" class="form-control" maxlength="250" placeholder="How does this make you feel?" name="image-comment" id="image-comment">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
              </form>

              <ul class="list-group">
                  {% for comment in comments %}
                     <li class="list-group-item">{{ comment["comment"] }}</li>
                  {% endfor %}
              </ul>

            </div>
          </div>
        </div>
      </div>
      
{% endblock %}