{% extends "base.html" %}
{% block javascript %}

/* All of this javascript code should be encapsulated in the vk.js library, but I'm not inclined to do it today */

$(document).ready(function() {
  var $grid = $('#sounds');

  $grid.on('done.shuffle', function() {
      $(".list-group-item").css("width", "100%");
    });
  change_sort('score');

  $('#filter_box').on('keyup change', function() {
  var val = this.value.toLowerCase();
  $grid.shuffle('shuffle', function($el, shuffle) {
    if ($el.hasClass('sticky')) {
      return true;
    }
    var text = $.trim( $el.text() ).toLowerCase();
    return text.indexOf(val) !== -1;
  });
});
});

var is_playing = false;
var sound_queue = []

function play_sound(sound_name) {
    sound_queue.push(sound_name)
    play_oldest_sound()
}

function play_oldest_sound(){
    if(sound_queue.length > 0 && !is_playing){
      is_playing = true;
      jQuery.ajax({
         url: '/play_sound/'+sound_queue.shift(),
         success: resetSoundSystem
    });
  }else if(is_playing){
    setTimeout(play_oldest_sound,100);
  }
}

function resetSoundSystem(data){
    is_playing = false;
    balanceBudget(data);
}

function capitaliseFirstLetter(string)
{
    return string.charAt(0).toUpperCase() + string.slice(1);
}
function change_sort(type) {
  var reverse = false;
  if (type.charAt(0) == '-') {
    reverse = true;
    type = type.substring(1);
  }
  $('a#sort_by').text(capitaliseFirstLetter(type));
  $('#sort_by').popover('hide');
  $('#sounds').shuffle('sort', {
      reverse: reverse,
      by: function($el) {
        return $el.data(type);
      }
    });

}
function addTemporaryNotification(after_selector, message) {
  $(".image-notification").alert('close');
  $(after_selector).after('<div class="alert alert-info image-notification">' + message + '</div>');
  $(".image-notification").fadeTo(2000, 500).slideUp(500, function(){
    $(".image-notification").alert('close');
  });
}
function voteCallback(data) {
  balanceBudget(data);
  $('#image_votes').html(data.votes);
  addTemporaryNotification('.random-image-toolbar', 'Thank you for voting, have 5 speakerbucks!');
}

function downvote(name) {
  $('#downvote-sound').val(name);
  $('#downvote_form').submit();
}
function upboat_image(name) {
  jQuery.ajax({
         url: '/image/'+name+'/upboat',
         success: voteCallback,
         async:   false
    });
}
function downgoat_image(name) {
  jQuery.ajax({
         url: '/image/'+name+'/downgoat',
         success: voteCallback,
         async:   false
    });
}
function new_image() {
  jQuery.ajax({
         url: '/new-image',
         success: function(data) {
            $('.random-image').attr('src','{{config.get("image_url_root","")}}/static/r_gifs/'+data.image);
            last_image = $('#image_name').val();
            $('.random-image-toolbar a').each(function() {
              $(this).attr('href', $(this).attr('href').replace(last_image, data.image));
            });
            $('#image_name').val(data.image);
            $('#image_votes').html(data.votes);
            $('.nsfw').removeClass("active");
          },
         async:   false
    });
}
function filter(element) {
        var value = $(element).val();

        $('#sounds > .sound:not(:contains(' + value + '))').hide(); 
        $('#sounds > .sound:contains(' + value + ')').show();
        change_sort('plays');
    }

$('#sort_by').popover();
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-sm-3">
          <div style="height:20px; font-size: 10px;">Last sound: {{ speakonomy.get_last_withdrawal_time().strftime('%A @ %H:%M %p') }} (+{{ speakerbucks_per_minute }})<div class="pull-right">Sort: <a id="sort_by" href="#" type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content='<a href="#" onclick=change_sort("cost")>Cost</a><br>
            <a href="#" onclick=change_sort("-date")>Date</a><br>
            <a href="#" onclick=change_sort("name")>Name</a><br>
          <a href="#" onclick=change_sort("plays")>Plays</a><br>
          <a href="#" onclick=change_sort("score")>Score</a>'>Score</a></div></div>
          <div class="list-group" id="sounds">
            <div class="list-group-item sticky" data-date="3333-33-33">
              <input class="list-group-editable-input" type="text" id="filter_box" placeholder="Filter...">
            </div>
          	{% for sound_name, sound in sounds.iteritems() %}
            <a class="list-group-item sound{% if sound.cost > current_speakerbuck_balance %} disabled{% endif %}" href="javascript:play_sound('{{sound.name}}')" data-date="{{ sound.date_added }}" data-cost="{{ sound.cost }}" data-name="{{ sound.name }}" data-score="{{ -1*sound.get_score() }}">
                <div class="downvote-button" onclick="downvote('{{ sound.name }}'); return false;"><span class="glyphicon glyphicon-thumbs-down"></span></div>
              {{ sound.name }}{% if sound.was_recently_added() %}<img src='{{config.get("image_url_root","")}}/static/img/new2.gif'>{% endif %}
              <span class="badge alert-default" title="{{ sound.votes }} plays, {{ sound.downvotes }} downvotes">{{ sound.get_score()}}</span>
              <p class="pull-right sound-cost">{% if speakonomy.is_active() %}<span class="cost-value">{{ "{:,}".format(sound.cost) }}</span> <span class="glyphicon glyphicon-bullhorn"></span>{% else %}FREE{% endif %} </p>
            </a>
            {% endfor %}
            <form action="/downvote-sound" id="downvote_form" method="post"><input type="hidden" id="downvote-sound" name="downvote_sound" value=""></form>
          </div>
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-9">
          {% if message %}<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{ message }}</div>{% endif %}
        	<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{random_title}}</h3>
            </div>
            <!--<div class="panel-body text-center">
              <img src='{{config.get("image_url_root","")}}/static/r_gifs/{{ image }}' class="random-image"/>
              <input type="hidden" id="image_name" value="{{ image }}">
              <h1><span class="label label-default" id="image_votes">{{ votes }}</span></h1>

              <div class="btn-group random-image-toolbar">
                <a href="javascript:upboat_image('{{ image }}')" class="btn btn-default glyphicon glyphicon-thumbs-up"></a>
                <a href="/image/{{ image }}/nsfw" class="btn btn-default glyphicon glyphicon-remove nsfw {%if nsfw %}active{%endif%}">nsfw</a>
                <a href="javascript:new_image()" class="btn btn-default glyphicon glyphicon-refresh">new</a>
                <a href="javascript:downgoat_image('{{ image }}')" class="btn btn-default glyphicon glyphicon-thumbs-down"></a>
              </div>

              <form action="/comment/{{ image }}" method="post" class="comment-form" id="comment_form">
                  <div class="input-group">
                    <input type="text" class="form-control" maxlength="250" placeholder="How does this make you feel?" name="image-comment" id="image-comment">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
              </form>

              <ul class="list-group" id="comment-list">
                  {% for comment in comments %}
                     <li class="list-group-item">{{ comment["comment"] }}</li>
                  {% endfor %}
              </ul>

            </div>-->
          </div>
        </div>
      </div>
      
{% endblock %}