{% extends "base.html" %}
{% block pagescripts %}
    <script src="/static/js/highcharts/js/highcharts.js"></script>
    <script src="/static/js/highchartstable.js"></script>
{% endblock %}
{% block javascript %}
  $("table.highchart").highchartTable();
{% endblock %}
{% block content %}
      <div class="page-header">
        <h1>Tell them what they won, Roddy!</h1>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2>today</h2>
          {{ render_dict_table(today_aggregate_stats, missing_message="No spins yet today")}}

          <h2>all time</h2>
          {{ render_dict_table(aggregate_stats, missing_message="No spins yet") }}          
          <h2>Recent History</h2>
          {{ render_rs_table(recent_spins, missing_message="No spins yet") }}
          {{ render_rs_table(number_occurence, missing_message="No spins yet", additional_class="highchart hidden", additional_attributes={'data-graph-container':'#occurence-graph','data-graph-type':'area'}) }}
          {{ render_rs_table(multiplier_occurence, missing_message="No spins yet", additional_class="highchart hidden", additional_attributes={'data-graph-container':'#multiplier-graph','data-graph-type':'area'}) }}
          {{ render_rs_table(wagers_and_outcomes, missing_message="No spins yet", additional_class="highchart hidden", additional_attributes={'data-graph-container':'#wagers-outcomes-graph','data-graph-type':'line'}) }}
          {{ render_rs_table(wagers_by_outcome, missing_message="No spins yet", additional_class="highchart hidden", additional_attributes={'data-graph-container':'#wagers-by-outcome-graph','data-graph-type':'area'}) }}
          {{ render_rs_table(lucky_numbers, missing_message="No spins yet", additional_class="highchart hidden", additional_attributes={'data-graph-container':'#lucky-by-outcome-graph','data-graph-type':'area'}) }}
          {{ render_rs_table(number_cooccurrence, missing_message="No spins yet", additional_class="highchart hidden", additional_attributes={'data-graph-container':'#lucky-chosen-graph','data-graph-type':'area'}, graph_map={'cooccurence':'line'}) }}
        </div>
        <div class="col-sm-6">
            <h2>Lucky and Chosen Number Co-occurence</h2>
            <div id="lucky-chosen-graph"></div>
            <h2>Lucky Numbers by Outcome</h2>
            <div id="lucky-by-outcome-graph"></div>
            <h2>Multipliers by Outcome</h2>
            <div id="multiplier-graph"></div>
            <h2>Random Numbers by Outcome</h2>
            <div id="occurence-graph"></div>
            <h2>Wagers by Outcome</h2>
            <div id="wagers-by-outcome-graph"></div>
            <h2>Wagers &amp; Outcomes (cutoff at +/- 100k)</h2>
            <div id="wagers-outcomes-graph"></div>
        </div>
      </div>
{% endblock %}