{% extends "base.html" %}
{% block content %}
      <div class="page-header">
        <h1>Upload Sound File</h1>
      </div>
      <div class="row">
          {% if message %}<div class="alert alert-warning">{{message}}</div>{% endif %}
        <form action="" method=post enctype=multipart/form-data>
           <div class="col-sm-3 col-sfm-ofset-1">
            <h3>Give your sound a name:</h3>
            <input type=text name="sound_name">
          </div>
           <div class="col-sm-3">
            <h3>Choose a sound file:</h3>
            <input type=file name=file accept="audio/*" class="form-control">
          </div>
           <div class="col-sm-3">
            <h3>Click Upload you fool!</h3>
             <input type=submit value=Upload>
            </div>  
        </form>
        </div>
      </div>
{% endblock %}