{% macro render_dict_table(dict, missing_message="No records found", additional_class="", additional_attributes="") %}
    {% if dict %}
        <table class="table {{additional_class}}" {% for attribute in additional_attributes %}{{attribute}}="{{additional_attributes[attribute]}}"{% endfor %}>
          <thead>
            <tr>
              {% for key in dict %}
                <th>{{ key.replace("_"," ") }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for key in dict %}
              <td>{{ dict[key] }}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        {% else %}
          <b>{{missing_message}}</b>
    {% endif %}
{% endmacro %}

{% macro render_rs_table(rs, missing_message="No records found", additional_class="", additional_attributes="") %}
    {% if rs %}
        <table class="table {{additional_class}}" {% for attribute in additional_attributes %}{{attribute}}="{{additional_attributes[attribute]}}"{% endfor %}>
          <thead>
            <tr>
              {% for keys in rs.description %}
                <th>{{ keys[0].replace("_"," ") }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for dict in rs %}
              <tr>
                {% for key in dict %}
                <td>{{ dict[key] }}</td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <b>{{missing_message}}</b>
    {% endif %}
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The Official VK Speakerbot">
    <meta name="author" content="Joshua Gooden">

    <title>Speakerbot and the love below</title>
    <!-- Latest compiled and minified CSS -->

    <style>
      .random-image{
        max-width:500px;
        display:block;
        margin:auto;
      }
      .random-image-toolbar{
        margin-top:8px;
      }
      .comment-form{
        margin-top:16px;
        margin-bottom:16px;
      }
      .sound {
        max-height: 40px;
      }
      .sound-cost {
        color: orange;
        margin-right: 10px;
      }
      body { 
        padding-top: 65px; 
      }
      .hidden{
        display:none;
      }
    {% block css %}
    {% endblock %}
    </style>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Speakerbot+</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" onclick="spin_the_wheel()">Spin</a></li>
            <li><a href="/theme-songs">Theme Songs</a></li>
            <li><a href="/spinstats">Spin Stats</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Special <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/say/!datefact">Date Fact</a></li>
                <li><a href="/say/!suspense">Drumroll...</a></li>
                <li><a href="/say/!lunch">Lunch</a></li>
                <li><a href="/say/!comment">Random Comment</a></li>
                <li><a href="/say/!weather">Weather</a></li>
                <li><a href="/say/!dave">!dave</a></li>
                <li><a href="/say/!josh">!josh</a></li>
                <li><a href="/say/!ross">!ross</a></li>
              </ul>
            </li>
          </ul>
          <div class="col-sm-6 col-md-6 pull-right">
          
        <form class="navbar-form" role="say" action="/say/">
        <div class="input-group">
            <input type="text" class="form-control" maxlength="100" placeholder="Say something" name="speech-text" id="speech-text">
            <input type="hidden" name="record_utterance" value="true" />
            <div class="input-group-btn">
                <button class="btn btn-default"><i class="glyphicon glyphicon-bullhorn"></i></button>
            </div>
        </div>
        </form>
        </div>

         <p class="navbar-text pull-right" style="color: white;">{{ "{:,}".format(speakonomy.get_speakerbuck_balance()) }} <span class="glyphicon glyphicon-bullhorn"></span></p>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main">
    {% block content %}{% endblock %}
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.shuffle.js"></script>
    <script src="/static/js/isotope.pkgd.min.js"></script>
    <script src="/static/js/images.loaded.js"></script>
    <script src="/static/js/highcharts/js/highcharts.js"></script>
    <script src="/static/js/highchartstable.js"></script>
    <script src="/static/js/vk.js"></script>

    <script>
    $(function(){
      $vk.init_ui_hacks();

      var obj = $("body");
      obj.on('dragenter', function (e) 
      {
          e.stopPropagation();
          e.preventDefault();
      });
      obj.on('dragover', function (e) 
      {
           e.stopPropagation();
           e.preventDefault();
      });
      obj.on('drop', function (e) 
      {
           e.preventDefault();
           var files = e.originalEvent.dataTransfer.files;
       
           //We need to send dropped files to Server
           handleFileUpload(files,obj);
      });
    })
    function handleFileUpload(files, obj){
      alert("foo")
    }
    function spin_the_wheel() {
      wager = prompt('Enter your speakerbuck wager:', '50');
      window.location ='/say/!spin%20'+wager;
    }
    {% block javascript %}{% endblock %}
  </script>
  </body>
</html>
