{% extends "base.html" %}
{% block javascript %}
$(document).ready(function() {
  var $grid = $('#sounds');

  $grid.on('done.shuffle', function() {
      $(".sound").css("width", "100%");
    });
  $grid.shuffle({
    itemSelector: '.sound',
  });
});
function capitaliseFirstLetter(string)
{
    return string.charAt(0).toUpperCase() + string.slice(1);
}
function change_sort(type) {
  $('a#sort_by').text(capitaliseFirstLetter(type));
  $('#sort_by').popover('hide')
  $('#sounds').shuffle('sort', {
      by: function($el) {
        return $el.data(type);
      }
    });

}
$('#sort_by').popover()
{% endblock %}
{% block content %}
      <div class="page-header">
        <h1></h1>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div style="height:20px"><div class="pull-right">Sort: <a id="sort_by" href="#" type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content='<a href="#" onclick=change_sort("name")>Name</a><br>
            <a href="#" onclick=change_sort("cost")>Cost</a><br>
          <a href="#" onclick=change_sort("plays")>Plays</a>'>Plays</a></div></div>
          <div class="list-group" id="sounds">
          	{% for sound in sounds %}
            <a class="list-group-item sound" href="{{url_for("play_sound", sound_name=sound)}}" data-cost="{{ sounds[sound][2] }}" data-name="{{ sound }}">
              {{ sound }}
              <span class="badge alert-default">{{ sounds[sound][1]}}</span>
              <p class="pull-right sound-cost">{% if speakonomy.is_active() %}{{ "{:,}".format(sounds[sound][2]) }} <span class="glyphicon glyphicon-bullhorn"></span>{% else %}FREE{% endif %} </p>
            </a>
            {% endfor %}
          </div>
        </div><!-- /.col-sm-8 -->
        <div class="col-sm-9">
          {% if message %}<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> {{ message }}</div>{% endif %}
        	<div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{random_title}}</h3>
            </div>
            <div class="panel-body text-center">
              <img src='/static/r_gifs/{{ image }}' class="random-image"/>

              <h1><span class="label label-default">{{ votes }}</span></h1>

              <div class="btn-group random-image-toolbar">
                <a href="/image/{{ image }}/upboat" class="btn btn-default glyphicon glyphicon-thumbs-up"></a>
                <a href="/image/{{ image }}/nsfw" class="btn btn-default glyphicon glyphicon-remove">nsfw</a>
                <a href="/" class="btn btn-default glyphicon glyphicon-refresh">new</a>
                <a href="/image/{{ image }}/downgoat" class="btn btn-default glyphicon glyphicon-thumbs-down"></a>
              </div>

              <form action="/comment/{{ image }}" method="post" class="comment-form">
                  <div class="input-group">
                    <input type="text" class="form-control" maxlength="250" placeholder="How does this make you feel?" name="image-comment" id="image-comment">
                    <div class="input-group-btn">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                    </div>
                </div>
              </form>

              <ul class="list-group">
                  {% for comment in comments %}
                     <li class="list-group-item">{{ comment["comment"] }}</li>
                  {% endfor %}
              </ul>

            </div>
          </div>
        </div>
      </div>
{% endblock %}